.body {
  text-align: center;
}
.game-board {
  display: flex;
  margin-top: 10px;
  flex-direction: inline;
  flex-wrap: nowrap;
  
  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #DEE9FC;
  justify-content: center;
  border-radius: 10px;
  @media screen and (min-width: 1000px) {
    width: 564px;
  }
}

.board-row {
  width: 14%;
  display: table-column;
  @media screen and (min-height: 768px) {
    width:80px;
  }
}

h1 {
  color: #DEE9FC;
}

.status {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #DEE9FC;
  justify-content: center;
  margin-right: auto;
  float: center;
}

.winner {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #DEE9FC;
  justify-content: center;
  margin-right: auto;
  float: center;
  font-size: x-large;
}

.coin-spot {
  border: 2px solid #6395F2;
  border-radius: 10px;
  height: 3em;
  width: 100%;
  justify-content: center;
  
}

.coin-spot:focus {
  outline: none;
}

.red {
  height: 3.5em;
  width: 3.5em;
  background-color:red;
  border-radius: 100%;
}

.yellow {
  height: 3.5em;
  width: 3.5em;
  background-color: yellow;
  border-radius: 100%;
}

.white {
  background-color: #F7DAD4;
  border-radius: 100%;
  height: 3.5em;
  width: 3.5em;
}

.game {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #091834;
  z-index: 10;
  padding-bottom: 2em;
}
.game-board {
  margin-bottom: auto;
}
.reset-btn {
  margin: auto;
}
